.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-section{
  margin: 50px 0 100px 0;
  width: 100%;
}
.input-section input , .input-section textarea{
  min-width: 500px;
  padding: 5px;
  margin: 10px 0;
}
.tasks{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: White;
  font-size: 18px;
  text-align: left;
}